<!-- TOP Nav Bar [START] -->
<div class="iq-top-navbar">
  <div class="iq-navbar-custom">
    <div class="iq-sidebar-logo">
      <div class="top-logo">
        <a href="index.html" class="logo">
          <img src="/assets/images/drugstoc.png" class="img-fluid" alt="">
        </a>
      </div>
    </div>
    <nav *ngIf="userData" class="navbar navbar-expand-lg navbar-light p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="ri-menu-3-line"></i>
      </button>
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu">
          <div class="line-menu half start"></div>
          <div class="line-menu"></div>
          <div class="line-menu half end"></div>
        </div>
      </div>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto navbar-list">
          <li class="nav-item">
            <div class="ng-autocomplete">
              <ng-autocomplete 
                [data]="searchList"
                [searchKeyword]="keyword"
                placeHolder="Search for products"
                (keyup.enter)="search($event)"
                (selected)='selectEvent($event)'
                (inputChanged)='onChangeSearch($event)'
                (inputFocused)='onFocused($event)'
                historyIdentifier="History"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate">                                 
              </ng-autocomplete>
               
              <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.name"></a>
              </ng-template>
               
              <ng-template #notFoundTemplate let-notFound>
              <!-- <div [innerHTML]="notFound"></div> -->
              <p>Loading....</p>
              </ng-template>
              </div>
          </li>

          <li class="nav-item">
            <a routerLink="/cart" class="iq-waves-effect">
              <i class="ri-shopping-cart-2-line"></i>
              <span *ngIf="countTicket !== 0" class="menu-tag">{{countTicket}}</span>
            </a>
          </li>

        </ul>
      </div>
      <ul *ngIf="userData" class="navbar-list">
        <li>
          <a href="javascript:void(0);" class="search-toggle iq-waves-effect bg-primary text-white"><img src="{{photo}}" class="img-fluid rounded" ></a>
          <div class="iq-sub-dropdown iq-user-dropdown">
            <div class="iq-card shadow-none m-0">
              <div class="iq-card-body p-0 ">
                <div class="bg-primary p-3">
                  <h5 class="mb-0 text-white line-height">Hello {{userName}}</h5>
                  <!-- <span class="text-white font-size-12">Available</span> -->
                </div>
                <a routerLink="/update-profile" class="iq-sub-card iq-bg-primary-success-hover">
                  <div class="media align-items-center">
                    <div class="rounded iq-card-icon iq-bg-success">
                      <i class="ri-profile-line"></i>
                    </div>
                    <div class="media-body ml-3">
                      <h6 class="mb-0 ">Edit Profile</h6>
                      <p class="mb-0 font-size-12">Modify your personal details.</p>
                    </div>
                  </div>
                </a>
                <div class="d-inline-block w-100 text-center p-3">
                  <a class="iq-bg-danger iq-sign-btn" href="javascript:void(0);" (click)="logout()" role="button">Sign out<i class="ri-login-box-line ml-2"></i></a>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
    <nav *ngIf="!userData" class="navbar navbar-expand-lg navbar-light p-0">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <i class="ri-menu-3-line"></i>
      </button>
      <div class="iq-menu-bt align-self-center">
        <div class="wrapper-menu">
          <div class="line-menu half start"></div>
          <div class="line-menu"></div>
          <div class="line-menu half end"></div>
        </div>
      </div>
      <div style="background-color: #FFD6D6; height: 100%;" class="collapse navbar-collapse" id="navbarSupportedContent">
            <p style="color: #ff3b3b; height: 100%; text-align: center; font-weight: bold; margin-top: 30px; margin-left: auto; margin-right: auto;">Are you a licensed Medical Practitioner? <span><a style="color: #ff3b3b; text-decoration: underline;" routerLink="/auth/sign-up">Sign Up</a></span> to get activated. Have an account? <span><a style="color: #ff3b3b; text-decoration: underline;" routerLink="/auth/sign-in">Sign In</a></span> To Continue</p>
      </div>
    </nav>
  </div>
</div>
<!-- TOP Nav Bar [END] -->
