<div class="sign-in-from">
  <h1 class="mb-0" >Sign in</h1>
  <p>Enter your email address and password to access admin panel.</p>
  <form class="mt-4" (ngSubmit)="onSubmit()" [formGroup]="ngform">
    <div class="form-group">
      <label for="exampleInputEmail1" style="font-weight: bolder;">Email address</label>
      <input type="email" formControlName="email" class="form-control mb-0" id="exampleInputEmail1" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1" style="font-weight: bolder;">Password</label>
      <!-- <a href="javascript:void(0);" class="float-right">Forgot password?</a> -->
      <input type="password" formControlName="password" class="form-control mb-0" id="exampleInputPassword1" placeholder="Password">
    </div>
    <div class="d-inline-block w-100">
      <!-- <div class="custom-control custom-checkbox d-inline-block mt-2 pt-1">
        <input type="checkbox" class="custom-control-input" id="customCheck1">
        <label class="custom-control-label" for="customCheck1">Remember Me</label>
      </div> -->
      <span class="dark-color d-inline-block line-height-2">Don't have an account? <a routerLink='/auth/sign-up'>Sign up</a></span>
      <button type="submit" [disabled]="!ngform.valid" class="btn btn-primary float-right">Sign in</button>
    </div>
    <div class="sign-info" style="margin-right: auto;">
      <!-- <ul class="iq-social-media">
        <li><a href="javascript:void(0);"><i class="ri-facebook-box-line"></i></a></li>
        <li><a href="javascript:void(0);"><i class="ri-twitter-line"></i></a></li>
        <li><a href="javascript:void(0);"><i class="ri-instagram-line"></i></a></li>
      </ul> -->
    </div>
  </form>
</div>
